@charset "UTF-8";

/* normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}