@charset "UTF-8";

@import url('./global/global.css');

@import url('./partials/main.css');
@import url('./partials/window-1.css');
@import url('./partials/window-2.css');
@import url('./partials/window-3.css');
@import url('./partials/window-4.css');
@import url('./partials/window-5.css');
@import url('./partials/window-6.css');
@import url('./partials/window-7.css');

@import url('./partials/in-development.css');
@import url('./partials/credits.css');
