@charset "UTF-8";

/* credits */

.credits {
    width: 100%;
    height: 12%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.credits span {
    font-size: 0.875rem;
    color: black;
}

.credits a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
