@charset "UTF-8";

.credits {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-text {
    padding: 0.35rem;
}

.dev-credits {
    font-size: 0.7rem;
    color: var(--text-main);
}

.credits a {
    color: var(--color-4);
}
