@charset "UTF-8";

/* in development */

.in-development {
    width: 100%;
    height: 9%;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.development-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.4rem;
}

.development-text span {
    font-size: 1rem;
    font-weight: 550;
    color: var(--color-4);
}

.development-text a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-4);
}
