@charset "UTF-8";

.in-development {
    padding: 0.9rem;
}

.development-text {
    width: 100%;
    text-align: center;
}

.development-text span {
    font-size: 0.86rem;
    color: var(--text-muted);

}

.development-text a {
    display: inline-block;
    margin-top: 0.35rem;
    font-weight: 700;
    color: var(--color-1);
}
