@charset "UTF-8";

/* main */

body {
    /* font-family: var(--principal); TODO: ajustar fonte */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-5);
    width: 100%;
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../../static/svgs/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    display: inline;
    width: 100%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.6rem;
}

.main-container {
    min-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}