@charset "UTF-8";

/* main */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-5);
    width: 100%;
    min-height: 100vh;
    background-image: url('../../static/svgs/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    display: inline;
    width: 100%;
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.6rem;
}

.main-container {
    min-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* animations */

.window-1,
.window-2,
.window-3-content,
.window-4,
.window-5,
.window-6,
.window-7 {
    transition: all 0.4s ease-in-out;
}

.window-1:hover,
.window-2:hover,
.window-3-content:hover,
.window-4:hover,
.window-5:hover,
.window-6:hover,
.window-7:hover {
    transform: translateY(-3px) scale(1.01);
}
