@charset "UTF-8";

/* urls-handler */

.urls-handler {
    width: 100%;
    height: 100vh;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-5);
    font-weight: 600;
}

.urls-handler h1 {
    color: var(--color-2);
}