@charset "UTF-8";

/* window-7 */

.window-7 {
    width: 100%;
    height: 12%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.window-7-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

.window-7-content h2 {
    font-size: 1.4rem;
    font-weight: 575;
    color: var(--color-4);
    text-align: center;
    justify-content: center;
}

.window-7-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    background-color: var(--color-3);
    border-radius: 8px;
    padding: 0.4rem;
    border: 1px solid var(--color-4);
}

.window-7-content p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-4);
    text-align: center;
    justify-content: center;

}
