@charset "UTF-8";

/* window-3 */

.window-3 {
    width: 100%;
    height: 12%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.window-3-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

.window-3-content h2 {
    font-size: 1.3rem;
    color: var(--color-4);
}
