@charset "UTF-8";

/* window-6 */

.window-6 {
    width: 100%;
    height: 12%;
    background-color: var(--color-3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border: 1px solid var(--color-4);
}

.window-6-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
}

.window-6 h2 {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-4);
}

.window-6 ul {
    margin-left: 1.5rem;
    color: var(--color-4);
    font-size: 1rem;
}

.window-6 ul li {
    margin-bottom: 0.1rem;
}
