@charset "UTF-8";

.window-5 {
    padding: 0.85rem 1rem;
}

.portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: default;
}

.window-5 i {
    font-size: 1.5rem;
    color: var(--color-1);
}

.window-5 h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-main);
}

.window-5 p {
    font-size: 0.87rem;
    color: var(--text-muted);
}