@charset "UTF-8";

/* window-2 */

.window-2 {
    width: 100%;
    height: 9%;
    background-color: var(--color-3);
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

