@charset "UTF-8";

/* window-1 */

.window-1 {
    width: 100%;
    height: 12%;
    background-color: var(--color-3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-4);
}

.window-1 .main-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
}

.window-1 .logo-container-1 {
    width: 20%;
    height: auto;
    border: 0.4rem; 
    display: flex;
}

.window-1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.window-1 .main-name span {
    font-size: 1.2rem;
    color: var(--color-4);
    font-weight: 500;
}

.window-1 .main-name h1 {
    font-size: 1.4rem;
    color: var(--color-4);
    font-weight: 650;
}

.window-1 .logo {
    width: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.window-1 .logo img {
    width: 100%;
    animation: rotate 8s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 372px) {
    .window-1 .dev-name h1 {
        font-size: 1.2rem;
        font-weight: 650;
    }

    .window-1 .dev-name span {
        font-size: 0.8rem;
    }

    .window-1 .logo {
        width: 35px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .window-1 .logo img {
        width: 100%;
    }
}