@charset "UTF-8";

.window-3 {
    padding: 0 0.25rem;
}

.window-3-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-3-content h2 {
    font-size: 1.16rem;
    color: var(--color-2);
    text-align: center;
    font-weight: 600;
}