@charset "UTF-8";

/* window-4 */

.window-1 {
    width: 100%;
    height: 12%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.window-4-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-medias {
    background-color: var(--color-3);
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    border: 1px solid var(--color-4);
}

.media-box {
    width: 33%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-medias a {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

.social-medias a:hover {
    transform: translateY(-3px) scale(1.05);
}

.social-medias i {
    font-size: 2.2rem;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-1);
    padding: 4px 10px;
    border-radius: 999px;
}

.social-medias span {
    font-size: 0.95rem;
    color: var(--color-4);
    margin-top: 0.2rem;
}
