@charset "UTF-8";

/* window-5 */

.window-5 {
    width: 100%;
    height: 12%;
    background-color: var(--color-3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-4);
}

.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}

.window-5 i {
    font-size: 1.6rem;
    color: var(--color-1);
}

.window-5 h2 {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-4);
}
